mixin pagination(pagination)
    nav
      ul(class="pagination")
        if(pagination.currentPage > 1)
          li(class="page-item")
            button(class="page-link" button-pagination=`1`) Trang đầu
          li(class="page-item")
            button(class="page-link" button-pagination=`${pagination.currentPage-1}`) Trang trước  
        - for (let index = 1; index <= pagination.totalPages; index++) 
            li(class=("page-item" + (pagination.currentPage == index ? " active" : "")))
              button(class="page-link" button-pagination=`${index}`) #{index}
        if(pagination.currentPage < pagination.totalPages)
          li(class="page-item")
            button(class="page-link" button-pagination=`${pagination.totalPages}`) Trang cuối
          li(class="page-item")
            button(class="page-link" button-pagination=`${pagination.currentPage+1}`) Trang sau