extends ../../layouts/default.pug
include ../../mixins/pagination.pug
block content
    h2 #{title}
    .card.mb-3
        .card-header Danh sách đơn hàng
        .card-body
            table(
              class="table table-hover table-sm"
            )
                thead
                    tr
                        th STT
                        th Họ tên
                        th Điện thoại
                        th Trạng thái
                        th Ngày tạo 
                        th Tổng tiền
                        th Hành động
                tbody
                    each order,index in orders
                        tr
                            td #{index + 1}
                            td #{order.userInfo.fullName}
                            td #{order.userInfo.phone}
                            td
                                if(order.status==='pending')
                                    div(
                                        class="badge badge-warning"
                                        data-status="pending"
                                    ) Chờ xác nhận
                                else if (order.status==='success')
                                    div(
                                        class="badge badge-success"
                                        data-status="success"
                                    ) Đã xác nhận
                                else 
                                    div(
                                        class="badge badge-danger"
                                        data-status="cancel"
                                    ) Đã hủy
                            td #{order.createdAtFormat}
                            td #{order.totalMoney} $
                            td
                                a(
                                    class="btn btn-secondary btn-sm"
                                    href=`/${prefixAdmin}/orders/detail/${order.id}`
                                ) Chi tiết
                                a(
                                    class="btn btn-success btn-sm ml-1"
                                    href=`/${prefixAdmin}/orders/edit`
                                ) Xác nhận
                                button(
                                    class="btn btn-danger btn-sm ml-1"
                                    button-delete=`/${prefixAdmin}/orders/cancel`
                                    data-id
                                ) Hủy đơn 