extends ../../layouts/default.pug
include ../../mixins/box-head.pug
block content
  .container.my-3
    .row
      .col-12
        +box-head(title)
        form(
          action="/user/password/reset?_method=PATCH"
          method="POST"
        )
          div(class="form-group")
            label(for="password") Mật khảu mới
            input(
              type="password"
              class="form-control"
              id="password"
              name="password"
              required
            )
          div(class="form-group")
            button(
              type="submit"
              class="btn btn-primary btn-block"
            ) Đổi mật khẩu